/* Cart styles (for open cart)  */
.cart {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 30%;
    background-color: white;
  z-index: 1;
    min-width: 30%;
    /* max-width: 40%; */
    max-height: 80%;
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
  }
  
  /* Cart and close class styles */
  .cart .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
  }
  
  .cart .close:hover {
    text-decoration: underline;
  }
  /* Styles for closed cart icon */
  .cart-closed {
    position: fixed;
    top: 2%;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;
    padding: .25rem;
    z-index: 1;

  }
  .cart-closed:hover {
    transform: scale(1.1);
  }
  
  /* Cart class changes for responsiveness */
  @media screen and (max-width: 768px) {
    .cart {
      position: relative;
      max-width: 100%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
    }
  }
  