.mug {
    height: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.overlay {
    font-size: 60px;
    color: black;
    text-align: center;
    position: absolute;
    top: 23%;
    left: 32%;
    width: 50%;
    height: 100%;
    z-index: 10;
        }