 /* .mug {
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;
}  */

/* .textcontainer{
    display: flex;
    flex-shrink: 2;
} */
.image-container {
    position: relative;
      max-width: 400px;
      margin: 5px;
    }

.overlay {
    display: inline-block;
    flex-wrap: wrap; 
    /* font-size: 2.75rem; */
    font-size: 2.6rem;
    word-wrap:break-word;
    text-align: center;
    max-width: 400px;
    position: absolute;
    margin-bottom: 0px;
    top: 25%;
    left: 40%;
    width: 40%;
    line-height: 1.2em;
       }
       
       @media only screen and (max-width: 450px) {
        .overlay {
            font-size: 2.1rem;
        }
       }
